.vegas-overlay,.vegas-slide,.vegas-slide-inner,.vegas-timer,.vegas-wrapper{position:absolute;top:0;left:0;bottom:0;right:0;overflow:hidden;border:none;padding:0;margin:0}.vegas-overlay{opacity:.5;background:url('/static/3rdp/vegas/overlays/02.png') center center}  .vegas-timer{top:auto;bottom:0;height:2px}  .vegas-timer-progress{width:0;height:100%;background:#fff;-webkit-transition:width ease-out;transition:width ease-out}  .vegas-timer-running .vegas-timer-progress{width:100%}  .vegas-slide,.vegas-slide-inner{margin:0;padding:0;background:center center no-repeat;-webkit-transform:translateZ(0);transform:translateZ(0)}  body .vegas-container{overflow:hidden!important;position:relative}  .vegas-video{min-width:100%;min-height:100%;width:auto;height:auto}  body.vegas-container{overflow:auto;position:static;z-index:-2}  body.vegas-container>.vegas-overlay,body.vegas-container>.vegas-slide,body.vegas-container>.vegas-timer{position:fixed;z-index:-1}  :root body.vegas-container>.vegas-overlay,:root body.vegas-container>.vegas-slide,_::full-page-media,_:future{bottom:-76px}  .vegas-transition-fade,.vegas-transition-fade2{opacity:0}  .vegas-transition-fade-in,.vegas-transition-fade2-in{opacity:1}  .vegas-transition-fade2-out{opacity:0}  .vegas-transition-blur,.vegas-transition-blur2{opacity:0;-webkit-filter:blur(32px);filter:blur(32px)}  .vegas-transition-blur-in,.vegas-transition-blur2-in{opacity:1;-webkit-filter:blur(0px);filter:blur(0px)}  .vegas-transition-blur2-out{opacity:0}  .vegas-transition-flash,.vegas-transition-flash2{opacity:0;-webkit-filter:brightness(25);filter:brightness(25)}  .vegas-transition-flash-in,.vegas-transition-flash2-in{opacity:1;-webkit-filter:brightness(1);filter:brightness(1)}  .vegas-transition-flash2-out{opacity:0;-webkit-filter:brightness(25);filter:brightness(25)}  .vegas-transition-negative,.vegas-transition-negative2{opacity:0;-webkit-filter:invert(100%);filter:invert(100%)}  .vegas-transition-negative-in,.vegas-transition-negative2-in{opacity:1;-webkit-filter:invert(0);filter:invert(0)}  .vegas-transition-negative2-out{opacity:0;-webkit-filter:invert(100%);filter:invert(100%)}  .vegas-transition-burn,.vegas-transition-burn2{opacity:0;-webkit-filter:contrast(1000%) saturate(1000%);filter:contrast(1000%) saturate(1000%)}  .vegas-transition-burn-in,.vegas-transition-burn2-in{opacity:1;-webkit-filter:contrast(100%) saturate(100%);filter:contrast(100%) saturate(100%)}  .vegas-transition-burn2-out{opacity:0;-webkit-filter:contrast(1000%) saturate(1000%);filter:contrast(1000%) saturate(1000%)}  .vegas-transition-slideLeft,.vegas-transition-slideLeft2{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}  .vegas-transition-slideLeft-in,.vegas-transition-slideLeft2-in{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}  .vegas-transition-slideLeft2-out,.vegas-transition-slideRight,.vegas-transition-slideRight2{-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}  .vegas-transition-slideRight-in,.vegas-transition-slideRight2-in{-webkit-transform:translateX(0%);-ms-transform:translateX(0%);transform:translateX(0%)}  .vegas-transition-slideRight2-out{-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}  .vegas-transition-slideUp,.vegas-transition-slideUp2{-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}  .vegas-transition-slideUp-in,.vegas-transition-slideUp2-in{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}  .vegas-transition-slideDown,.vegas-transition-slideDown2,.vegas-transition-slideUp2-out{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%)}  .vegas-transition-slideDown-in,.vegas-transition-slideDown2-in{-webkit-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%)}  .vegas-transition-slideDown2-out{-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%)}  .vegas-transition-zoomIn,.vegas-transition-zoomIn2{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0}  .vegas-transition-zoomIn-in,.vegas-transition-zoomIn2-in{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}  .vegas-transition-zoomIn2-out,.vegas-transition-zoomOut,.vegas-transition-zoomOut2{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);opacity:0}  .vegas-transition-zoomOut-in,.vegas-transition-zoomOut2-in{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);opacity:1}  .vegas-transition-zoomOut2-out{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:0}  .vegas-transition-swirlLeft,.vegas-transition-swirlLeft2{-webkit-transform:scale(2) rotate(35deg);-ms-transform:scale(2) rotate(35deg);transform:scale(2) rotate(35deg);opacity:0}  .vegas-transition-swirlLeft-in,.vegas-transition-swirlLeft2-in{-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);opacity:1}  .vegas-transition-swirlLeft2-out,.vegas-transition-swirlRight,.vegas-transition-swirlRight2{-webkit-transform:scale(2) rotate(-35deg);-ms-transform:scale(2) rotate(-35deg);transform:scale(2) rotate(-35deg);opacity:0}  .vegas-transition-swirlRight-in,.vegas-transition-swirlRight2-in{-webkit-transform:scale(1) rotate(0deg);-ms-transform:scale(1) rotate(0deg);transform:scale(1) rotate(0deg);opacity:1}  .vegas-transition-swirlRight2-out{-webkit-transform:scale(2) rotate(35deg);-ms-transform:scale(2) rotate(35deg);transform:scale(2) rotate(35deg);opacity:0}  .vegas-animation-kenburns{-webkit-animation:kenburns ease-out;animation:kenburns ease-out}  @-webkit-keyframes kenburns{0%{-webkit-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}  @keyframes kenburns{0%{-webkit-transform:scale(1.5);transform:scale(1.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}  .vegas-animation-kenburnsUp{-webkit-animation:kenburnsUp ease-out;animation:kenburnsUp ease-out}  @-webkit-keyframes kenburnsUp{0%{-webkit-transform:scale(1.5) translate(0,10%);transform:scale(1.5) translate(0,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsUp{0%{-webkit-transform:scale(1.5) translate(0,10%);transform:scale(1.5) translate(0,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsDown{-webkit-animation:kenburnsDown ease-out;animation:kenburnsDown ease-out}  @-webkit-keyframes kenburnsDown{0%{-webkit-transform:scale(1.5) translate(0,-10%);transform:scale(1.5) translate(0,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsDown{0%{-webkit-transform:scale(1.5) translate(0,-10%);transform:scale(1.5) translate(0,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsLeft{-webkit-animation:kenburnsLeft ease-out;animation:kenburnsLeft ease-out}  @-webkit-keyframes kenburnsLeft{0%{-webkit-transform:scale(1.5) translate(10%,0);transform:scale(1.5) translate(10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsLeft{0%{-webkit-transform:scale(1.5) translate(10%,0);transform:scale(1.5) translate(10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsRight{-webkit-animation:kenburnsRight ease-out;animation:kenburnsRight ease-out}  @-webkit-keyframes kenburnsRight{0%{-webkit-transform:scale(1.5) translate(-10%,0);transform:scale(1.5) translate(-10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsRight{0%{-webkit-transform:scale(1.5) translate(-10%,0);transform:scale(1.5) translate(-10%,0)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsUpLeft{-webkit-animation:kenburnsUpLeft ease-out;animation:kenburnsUpLeft ease-out}  @-webkit-keyframes kenburnsUpLeft{0%{-webkit-transform:scale(1.5) translate(10%,10%);transform:scale(1.5) translate(10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsUpLeft{0%{-webkit-transform:scale(1.5) translate(10%,10%);transform:scale(1.5) translate(10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsUpRight{-webkit-animation:kenburnsUpRight ease-out;animation:kenburnsUpRight ease-out}  @-webkit-keyframes kenburnsUpRight{0%{-webkit-transform:scale(1.5) translate(-10%,10%);transform:scale(1.5) translate(-10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsUpRight{0%{-webkit-transform:scale(1.5) translate(-10%,10%);transform:scale(1.5) translate(-10%,10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsDownLeft{-webkit-animation:kenburnsDownLeft ease-out;animation:kenburnsDownLeft ease-out}  @-webkit-keyframes kenburnsDownLeft{0%{-webkit-transform:scale(1.5) translate(10%,-10%);transform:scale(1.5) translate(10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsDownLeft{0%{-webkit-transform:scale(1.5) translate(10%,-10%);transform:scale(1.5) translate(10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  .vegas-animation-kenburnsDownRight{-webkit-animation:kenburnsDownRight ease-out;animation:kenburnsDownRight ease-out}  @-webkit-keyframes kenburnsDownRight{0%{-webkit-transform:scale(1.5) translate(-10%,-10%);transform:scale(1.5) translate(-10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}  @keyframes kenburnsDownRight{0%{-webkit-transform:scale(1.5) translate(-10%,-10%);transform:scale(1.5) translate(-10%,-10%)}100%{-webkit-transform:scale(1) translate(0,0);transform:scale(1) translate(0,0)}}
input[type=text], input[type=url], input[type=email], input[type=tel], textarea {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #fff;
    color: #444;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 8px 10px;
}

#register, #login-page, #signup-page,
#registration-done-check-email,
#registration-validated {
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 13px;
    display: block;
    line-height: 1.3em;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#login-page label, #signup-page label,
#registration-done-check-email label,
#registration-validated label {
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

#register a,
#login-page a,
#signup-page a {
    text-decoration: none;
}

#register form,
#login-page #se-login-form,
#signup-page #se-login-form,
#login-page #openid_form,
#signup-page #openid_form,
#registration-done-check-email form,
#registration-validated form {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

#register form,
#login-page .formContainer,
#signup-page .formContainer,
#registration-done-check-email form,
#registration-validated form {
    width: 280px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #e6e6e6;
    background: rgba(255, 255, 255, 0.5);
    font-size: 100%;
    display: block;
}

#register form,
#signup-page .formContainer,
#registration-done-check-email form,
#registration-validated form {
    margin-bottom: 20px;
}

#login-page #openid-buttons,
#signup-page #openid-buttons {
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
#login-page .major-provider,
#signup-page .major-provider {
    cursor: pointer;
    border-radius: 3px;
    width: 136px;
    height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
#login-page .major-provider .icon-container,
#signup-page .major-provider .icon-container {
    display: inline-block;
    width: 35px;
    height: 100%;
    padding: 0;
    float: left;
}

#login-page .major-provider .icon,
#signup-page .major-provider .icon {
    background: url('/static/img/login-sprites.png?v=1');
    display: inline-block;
    margin: 11px auto;
    width: 16px;
    height: 16px;
    padding: 0;
    border: 0;
}

#login-page .major-provider, #signup-page .major-provider {
    cursor: pointer;
}
#login-page .major-provider .text,
#signup-page .major-provider .text {
    width: 100px;
    height: 100%;
    color: #fff;
    display: table;
    border: 0;
    font-size: 100%;
}
#login-page .major-provider .text span,
#signup-page .major-provider .text span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

#login-page .major-provider.google-login,
#signup-page .major-provider.google-login {
    border: 1px solid #e0492f;
}
#login-page .major-provider.google-login .icon,
#signup-page .major-provider.google-login .icon {
    background-position: 0 0;
}
#login-page .major-provider.google-login .icon-container,
#signup-page .major-provider.google-login .icon-container {
    border-right: 1px solid #bf3b24;
    background: #e0492f;
}
#login-page .major-provider.google-login .text,
#signup-page .major-provider.google-login .text {
    background: #e0492f;
}

#login-page .major-provider.facebook-login,
#signup-page .major-provider.facebook-login {
    border: 1px solid #395697;
}

#login-page .major-provider.facebook-login .icon-container,
#signup-page .major-provider.facebook-login .icon-container {
    background: #395697;
    border-right: 1px solid #2a4683;
}
#login-page .major-provider.facebook-login .icon,
#signup-page .major-provider.facebook-login .icon {
    background-position: -17px 0;
}

#login-page .major-provider.facebook-login .text,
#signup-page .major-provider.facebook-login .text {
    background: #395697;
}




#login-page .or-container,
#signup-page .or-container {
    text-align: center;
    margin: 20px 0;
    color: #808080;
    font-variant: small-caps;
    padding: 0;
    border: 0;
    font-size: 100%;
}
#login-page .or-hr,
#signup-page .or-hr {
    margin-bottom: -20px;
    height: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
    background-color: #aaa;
    color: #aaa;
}
#login-page #or,
#signup-page #or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #fff;
    margin: 0;
    border: 0;
    font-size: 100%;
}

#login-page #se-login-form input,
#signup-page #se-login-form input,
#login-page #openid_form input,
#signup-page #openid_form input,
#registration-done-check-email input,
#registration-validated input {
    margin: 5px 0 5px 0;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

#login-page #se-login-form input[type=text],
#signup-page #se-login-form input[type=text],
#login-page #openid_form input[type=text],
#signup-page #openid_form input[type=text],
#login-page #se-login-form input[type=email],
#signup-page #se-login-form input[type=email],
#login-page #openid_form input[type=email],
#signup-page #openid_form input[type=email],
#login-page #se-login-form input[type=password],
#signup-page #se-login-form input[type=password],
#login-page #openid_form input[type=password],
#signup-page #openid_form input[type=password] {
    color: #2a2a28;
    width: 263px;
    line-height: 1.3;
    font-size: 100%;
    padding: 8px;
    margin-bottom: 10px;
    height: 18px;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    cursor: auto !important;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
}

#register  input[type=submit],
#login-page input[type=button],
#signup-page input[type=button],
#login-page input[type=submit],
#signup-page input[type=submit],
#signup-page-cancel input[type=submit],
#registration-done-check-email input[type=submit],
#registration-validated input[type=submit]{
    width: 100%;
}
#register  input[type=submit],
#login-page input[type=button],
#signup-page input[type=button],
#login-page input[type=submit],
#signup-page input[type=submit],
#signup-page-cancel input[type=submit],
#registration-done-check-email input[type=submit],
#registration-validated input[type=submit],
#registration-done-check-email form div.information,
#registration-validated form div.information {
    text-align: center;
    background: #07c;
    color: #fff;
    border-radius: 3px;
    padding: 12px 40px;
    box-shadow: none;
    text-shadow: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-bottom: 0 !important;
}
#registration-done-check-email form div.information,
#registration-validated form div.information {
    background: #4a3035;
}
#signup-page-cancel input[type=submit] {
    background: #bf3b24;
    color: #fff;
}

#login-page input[type=text], #signup-page input[type=text] {
    box-shadow: none;
}

.social-widgets-wrapper {
    width: 100%;
    height: auto;
    padding: 0;
    border: 0;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.social-widgets-wrapper .fb-share-button {
    margin: 0;
}

.errorlist {
    padding: 0;
    margin: 0 0 30px;
}
.errorlist li {
    list-style-type: none;
    font-style: italic;
    font-size: larger;
    color: red;
}

h2.title, .terms-and-conditions, .terms-of-service, .blog {
    border: 1px solid #fff;
    margin: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
}
@media only screen and (max-width : 600px) {
    h2.title, .terms-and-conditions, .terms-of-service, .blog {
        margin: 0;
    }
}

.title-inner, h2.title {
    border: 0px solid purple;
    margin: 20px;
    padding-bottom: 60px;
    position: relative;
    top: 100px;
}
.title-inner li {
    border: 0px solid purple;
    margin-bottom: 10px;
}
.title-inner ul {
    color: black;
    font-family: Lato,serif;
    font-size: 18px;
    list-style-type: square;
}
section.title, div.title {
    margin: 0;
    padding: 0;
}
div.title {
    border: 0 solid blue;
    height: 100px;
    padding: 0;
    position: relative;
    text-align: center;
    top: 80px;
}
.terms-and-conditions p a,
.terms-of-service p a,
.blog p a {
    text-decoration: none;
    font-style: italic;
    color: white;
    font-weight: bolder;
}

footer {
    border: 0px solid #fff;
    margin: 0;
    padding: 0;
}


div.title img {
    border: 0px solid red;
    text-align: center;
    max-width:100%;
    max-height:100%;
}

.title-inner h2 {
    text-align: center;
    color: #fff;
    font-family: Lato, serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    margin: 0;
}
.title-inner .advantages {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    margin: 50px auto 30px;
    padding: 10px;
    width: 80%;
}

.title-inner, h2.title {
    margin: 30px;
}

.title-inner.centre {
    margin-bottom: -40px;
    position: relative;
    text-align: center;
    top: 0;
}

div.title {
    border: 0 solid blue;
    height: 150px;
    margin-top: 0;
    text-align: center;
}
.social-widgets-wrapper .love {
    border: 0px solid purple;
    color: white;
    padding-bottom: 5px;
    font-family: arial, sans-serif;
}
section.blog {
    background-color: rgba(255,255,255,.15);
    margin-top: 10px;
}


.panel-footer {
    font-weight: bolder;
}
.panel-heading {
    font-weight: bolder;
}
.badge-new {
    background-color: red;
}
.badge-notify {
    display: block;
    float: left;
    position: absolute;
    top: 9px;
    right: 26px;
}
#page-wrapper {
    margin: 0;
    min-height: 710px;
}
.navbar-brand {
    padding-left: 0;
    color: #337ab7;
    height: 72px;
    line-height: 42px;
}
div.photo-profile-normal {
    width: 100%;
    height: 130px;      /* equals max image height */
    white-space: nowrap;
    text-align: center;
    /*
    margin-top: 10px;
    margin-bottom: 10px;

    margin: 1em 0;
    border-radius: 15px;
    border: 0;
    */
}
.photo-profile-normal span.helper, .photo span.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;

    margin: 0;
    padding: 0;
}
.photo-profile-normal img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    height: auto;
    position: relative;
    left: -2px;
    border-radius: 6px;

    margin: 0;
    padding: 0;
}
/* probleme fiche "mes contacts" : */
@media screen and (min-width:1200px) {
    .profile-photo {
        padding-right: 6px;
    }
    .profile-description {
        padding-left: 6px;
    }
}

.footer-box{list-style:none; text-align:center;}
.footer-box ul{list-style:none; margin:0; padding:0;}
.footer-box li{display:inline;}
.footer-box a{text-decoration:none; font-size:16px; font-weight: 700;
    line-height:20px; text-transform: uppercase; display:inline-block;
    padding: 10px 15px; margin:0 1px;color: #fff;}
.footer-box a:hover{color:#e88b60;}

/*
.panel {
    border: 0;
}
*/
.panel-primary {
    border-color: #839BB1;
}
.grid {
    margin: 0;
    padding: 0;
}

/* grid-item for mobile */
.grid-item, .grid-item-travel {
    width: 100%;
    position: relative;
    float: left;
    height: auto;
    margin: 0 5px 0 5px;
    padding: 0;
    background: 0;
    color: #262524;
    transition: background 0.4s, box-shadow 0.4s;
}
/* grid-item for all other display */
@media (min-width: 768px) {
    .grid-item, .grid-item-travel {
        width: 500px;
    }
    .grid-item-travel {
        width: 435px;
        cursor:pointer;
    }
}
.hide-aw, .hide-aw:visited, .hide-aw:hover, .hide-aw:active, .hide-aw:focus,
.hide-a, .hide-a:visited, .hide-a:hover, .hide-a:active, .hide-a:focus {
    text-decoration: none;
    color: black;
}
.hide-aw, .hide-aw:visited, .hide-aw:hover, .hide-aw:active, .hide-aw:focus {
    color: white;
}
body {
    background-color: #214269;
}
#footer-top {
    width: 100%;
    overflow:hidden;
    background-color: white;
}


.conv-msg:hover {
    background-color: #eee;
    cursor: pointer;
}
.conv-msg-in {
    margin: 5px 0;
}
.conv-msg-details {
    margin-top: 10px;
    margin-bottom: 10px;
}
.conv-msg-notread {
    padding: 3px;
    margin: 0;
    border: solid 2px #64997b;
    background-color: #E4FFE9;
    border-radius: 4px;
    font-size: smaller;
}
.msg-notread {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    outline: 2px solid #839BB1;
    border-radius: 4px;
}
.msg-notread:hover {
    background-color: rgba(255, 187, 0, 0.4);
}
.msg-read:hover, .msg-notread:hover {
    cursor: pointer;
}
.msg-read {
    background-color: rgba(125, 125, 125, 0.3);
}
.btn-person-detail {
    margin-top: 10px;
    text-align: left;
    padding-left: 15px;
}
.btn-hqf-close {
    margin-left: 20px;
    padding: 10px 15px;
    /*background-color: aliceblue;*/
}
.btn-validate, .panel-custom {
    color: #fff;
    /*background-color: #f85a29;*/
    background-color: #FF5E2D; /* #E8390C; #ff740b;*/
    border-color: #943821;
}
.suggestion {
    color: #FF5E2D; /* #E8390C; #f85a29;*/
}
.btn-hint {
    color: #fff;
    background-color: #b4b4b4;
    border-color: #949494;
}
.panel-news img, .panel-ads img {
    max-width: 100%;
}
a.travel-image-popup,
a.travel-image-popup:focus,
a.travel-image-popup:hover,
a.travel-image-popup:visited,
a.travel-image-popup:link,
a.travel-image-popup:active
{
    outline: 0;
    padding: 1px;
    margin: 8px;
    border: none;
    text-decoration: none;
}
a.travel-image-popup, a.travel-image-popup img {
    margin-bottom: 0;
    padding-bottom: 0;
}
/* hack pour images transparentes pour magnific-popup : */
.mfp-figure:after {
    background-color: white;
}
.no-margin {
    margin: 0;
    padding: 0 5px;
}

p.travel-description {
    margin: 10px 10px 10px 0;
    word-wrap: break-word;
}

p.personne-description-complete {
    margin-top: 10px; margin-left: 5%;
    word-wrap: break-word;
}
.edit-travel-grid-item {
    min-height: 250px;
}
.personne-description-complete-cadre-sobre,
.personne-description-complete-cadre {
    border: solid 2px #FF5E2D; /* #8390C; #f85a29;*/
    margin: 3px;
    padding: 6px;
    word-wrap: break-word;
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.personne-description-complete-cadre {
    border: solid 2px #FF5E2D; /* #E8390C; #f85a29;*/
}
.personne-description-complete-cadre-sobre {
    border: solid 2px grey;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 400px;
    }
}
.space-above {
    margin-top: 20px;
}

.btn-profile-optional {
    color: #fff;
    background-color: #9f9f9f;
    border-color: #4a4a4a;
}
.btn-profile-optional:hover {
    color: #fff;
    background-color: #c4c4c4;
    border-color: #4a4a4a;
}
.btn-profile-mandatory {
    color: #fff;
    background-color: #FF5E2D; /* #E8390C; #f85a29;*/
    border-color: #943821;
}
.btn-profile-mandatory:hover {
    color: #fff;
    background-color: #FF5E2D; /* #E8390C; #ff7d56;*/
    border-color: #943821;
}

.btn-desactivate-account {
    color: #fff;
    background-color: rgba(255, 146, 120, 0.71);
}
.btn-desactivate-account:hover {
    color: #fff;
    background-color: #FF5E2D; /* #E8390C; #ce563f;*/
}

.col-help {
    margin-top: 10px
}
.help-custom {
    border: solid 1px #FF5E2D; /* #E8390C; #f85a29;*/
    margin: 5px 0 5px 0;
    padding: 15px 0;
    border-radius: 6px;
}
.field-separator {
    height: 1px;
    background-color: #FF5E2D; /* #E8390C; #f85a29;*/
    width: 100%;
}
@media screen and (min-width:1200px) {
    .field-separator {
        width: 75%;
    }
}

.nav>li>a {
    padding: 10px;
}
.important-field {
    font-weight: bolder;
    color: red;
    font-size: smaller;
}

#search-result-panel {
    margin-top: 20px;
}


.person-detail-mode-grid {
    min-height:370px;
}
@media (min-width: 1200px){
    .person-detail-mode-grid {
        min-height:284px;
    }
}
@media (max-width: 720px){
    .person-detail-mode-grid {
        min-height:initial;
    }
}

/* ---------------------------------------------------- */
/* <top menu> */

/* mobile resolution */
.hqf-menu {
    display: none;
}
/* small screens */
.hqf-menu li {
    min-width: 60px;
}
.hqf-menu li a {
    text-align: center;
    font-size: smaller;
    margin-left: 0;
    margin-right: 0;
    padding: 4px;
}
.hqf-menu li a i {
    font-size: 1.5em;
}
/* small screens */
@media (min-width: 768px) {
    .hqf-menu {
        display: block;
        margin-top: 0;
    }
    .hqf-menu li {
        display: inline-block;
    }
    .hqf-menu li a {
        /*outline: solid 1px purple;*/
        width: 60px;
        max-width: 60px;
    }
}
@media (min-width: 940px){
    .hqf-menu {
        font-size: smaller;
        margin-top: 15px;
    }
    .hqf-menu li a {
        width: 80px;
        max-width: 80px;
    }
    .hqf-menu li a i {
        /*outline: solid 1px yellow;*/
        font-size: large;
    }
}
/* normal screens */
@media (min-width: 1110px){
    .hqf-menu {
        /*background-color: blue;*/
        margin-top: 5px;
        font-size: inherit;
    }
    .hqf-menu li a {
        width: 100px;
        max-width: 100px;
    }
    .hqf-menu li a i {
        font-size: x-large;
    }
}

/* </top menu> */
/* ---------------------------------------------------- */
.self-profile-photo {
    margin-bottom: 10px;
}

.progression-details {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 15px;
}

.paginator-current {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgba(96, 114, 124, .3);
    background-color: rgba(96, 114, 124, .1);
}

.panel-custom-information .panel-heading {
    background-color: #cbdbec;
}

.message-not-read {
    font-size: larger;
}
.message-not-read hr, .message-read hr {
    border: solid 1px grey;
    margin: 5px;
    max-width: 90%;
}
.message-not-read .timeline-badge {
    display: inline-block;
    background-color: rgba(197, 95, 109, 0.5);
    color: yellow;
    text-shadow: 1px 1px 2px #000;
    margin:10px;
    padding: 10px;
    border-radius: 80px
}
@media (max-width: 600px){
    .message-not-read {
        margin-left: 5px;
        padding-left: 8px;
    }
}

.conversation-delete span {
    font-size: smaller;
}
.conversation-delete button {
    padding: 2px 4px;
    font-size: smaller;
}
    div.conversation-delete {
        margin-left: 6px;
        padding-left: 8px;
    }

.message-read {
    margin-top: 10px;
    margin-bottom: 10px;
}
.message-read hr {
    display: none;
}
@media (max-width: 600px){
    .message-read hr {
        display: block;
    }
}

.self-description {
    padding-left: 8%;
    width: 93%;
}
@media (max-width: 430px) {
    .self-description {
        padding-left: 10%;
        width: 91%;
    }
    h4.footer-buttons {
        font-size: 1px;
        margin: 0;
        padding: 0;
    }
    h4.footer-buttons button {
        font-size: 14px;
    }
    h4.footer-buttons div.modal-body {
        font-size: 18px;
    }
}
@media (max-width: 340px) {
    div.panel-footer {
        padding-left: auto;
        padding-right: auto;
    }
}
@media (max-width: 400px) {
    .btn-footer {
        padding: 2px;
        font-size: 14px;
    }
}
button.navbar-toggle {
    margin-top: 18px;
}
.message-not-read p {
    margin-left:30px
}
@media (max-width: 1200px) {
    .personne-description-complete .separator {
        display: none;
    }
}
@media (max-width: 430px) {
    .new-line-responsive:after {
        content: "\A";
        white-space: pre;
    }
    .message-not-read p {
        margin-top:10px
    }
}
.conversation-summary .photo-profile-normal {
    margin-top: 10px;
    margin-bottom: 10px;
}
.options-visibility-2nd-column {
    margin-top: 30px;
}
@media (max-width: 600px) {
    h1.page-header i {
        display: block;
        float: left;
        height: 42px;
    }
}
@media (max-width: 1200px) {
    .options-visibility-2nd-column {
        margin-top: 0;
    }
}
.search-date-end {
    margin-top: 25px;
}
@media (max-width: 1200px) {
    .search-date-end {
        margin-top: 0;
    }
}
@media (max-width: 1200px) {
    #tab-messages .profile-description {
        margin-top: 12px;
    }
}
@media (max-width: 600px) {
    .profile-photo {
        margin-bottom: 10px;
    }
}


ul.nav.nav-pills {
    width: 90%;
    margin: 10px auto 10px 0;
}
@media (max-width: 400px) {
    .btn-choice-invitation {
        padding: 4px;
        font-size: 13px;
    }
    .nav>li>a, .nav>li>a, .nav>li>a, .btn-hqf-close {
        /*padding: 3px;*/
        /*font-size: 13px;*/
    }
    ul.nav.nav-pills {
        width: auto;
    }
    ul.nav.nav-pills li {
        width: 100%;
    }
    .li-button-close {
        width: auto;
        margin: 0;
    }
    .btn-hqf-close {
        display: block;
        margin: 10px 0 0;
        color: black;
    }
    .profile-description {
        height: auto;
        padding-bottom: 30px;
    }
}

.message-warn-no-travels h1 {
    animation: blinker 1s linear infinite;
    color: red;
    font-size: 120%;
    /* blink: http://stackoverflow.com/revisions/16344389/7 */
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@media (max-width: 400px) {
    .message-warn-no-travels h1 {
        font-size: 100%;
    }
}
