bcrypt==3.1.7
beautifulsoup4==4.8.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
defusedxml==0.6.0
Django==2.2.28
django-appconf==1.0.3
django-axes==5.0.12
django-compat==1.0.15
django-compressor==2.3
django-dcors==0.1
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-ipware==2.1.0
django-markdown-app==0.9.6
django-registration-redux==2.6
django-url-tools==0.0.8
django-url-tools-py3==0.2.0
django-vinaigrette==1.2.1
ftfy==5.6
googlemaps==3.0.2
gunicorn==19.9.0
idna==2.8
Markdown==3.1.1
modernize==0.7
Pillow==6.1.0
pycparser==2.19
pydub==0.23.1
python-dateutil==2.8.0
python-magic==0.4.15
python3-openid==3.1.0
pytz==2019.2
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.1.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
urllib3==1.25.3
wcwidth==0.1.7
