{% comment %}--------------------------------------------
Séparation pour plus de clarté
Exactement le même que travel_hint_good_to_know-past.html
mais pour pouvoir différencier les deux onglets "past" et "future"
alors qu'on a la même aide, les séparer, un dans chaque onglet :
{% endcomment %}{% load i18n klass %}
<div class="row" id="good-to-know-travels-future" style="display: none">
    <div class="col-lg-12">
        <p>
            <b>{% blocktrans trimmed %}
                In order to add a trip, and be a part of  Cogofly members’ search
                results, please fill in at least one of the two
                fields (place and/or date)
            {% endblocktrans %}
            </b>
        </p>
        <p>
        <button class="btn btn-hint"
                data-hqf-switch="$.ct('.row')/Ou">
            <i class="fa fa-times"></i>
            {% trans 'Close' %}
        </button>
        </p>
    </div>{# /.col-lg-12 #}
</div>{# /.row #}
