{% extends 'my_home/base.html' %}
{% load static staticfiles compress i18n %}
{% block main-title %}
    <i class="fa fa-lock fa-fw"></i>
    {% block title %}{% trans "Password recover" %}{% endblock %}
{% endblock %}

{% block css_supplementaire %}
<style>
body, #page-wrapper {
    background-image: url({% static 'img/bg/password-recover.jpg' %});
    background-size: cover;
}
h1.page-header {
    color: white;
}
form {
    background-color: hsla(0, 100%, 100%, 0.5);
    padding: 17px;
    border-radius: 10px;
}
</style>
{% endblock %}

{# A la demande de Franck supprimer le menu en haut : #}
{% block navigation %}
{% endblock %}
{% block ligne_top_vide %}
{% endblock %}
{% block footer %}
{% endblock %}


{% block central %}
<div class="row">
<div class="col-lg-4">

    <form action="{% url 'my_home_profile_password_recover' %}"
          method="POST" style="display: inline-block">
        {% csrf_token %}
        {% with group_no=0 %}
            {% include 'includes/form_generic/fields_by_groupno.html' %}
        {% endwith %}
        <button type="submit" class="btn btn-primary">
            {% trans 'Send' %}
        </button>
        {# Bouton cancel = ramener sur login = hack comme d'hab en Web : #}
        <script>function bck() {
            window.location='{% url 'my_home_login' %}';
            return false;
        }</script>
        <button type="submit" class="btn btn-validate"
                onclick="return bck();">
            {% trans 'Cancel' %}
        </button>
    </form>
</div>
</div>
{% endblock %}
