<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css"> 
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<head></head>


<body>
        <div class="py-5">
            <div class="container">
            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-6">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Trips Done</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/" role="tab"">Trips To Do</a>
                </li>
              </ul>
            </div>
            </div>
            </div>
            <br>

          <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="">
                              <div class="card-block">
                                  <img src="../../static/common/img/logo.jpg" width="200"><br><br>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <span style="font-size: 12px;">Destination</span>
                                            <span style="color:red;font-size: 13px;">New Delhi, India</span>
                                        </div>
                                        <div class="col-md-4">
                                            <span style="font-size: 12px;">Start</span>
                                                <span style="font-size: 12px;">4/12/2019</span>
                                        </div>
                                        <div class="col-md-3">
                                            <span style="font-size: 12px;">End</span>
                                                <span style="font-size: 12px;">7/12/2019</span>
                                        </div>
                                      </div>
                                        </div><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6>Your Images</h6>
                                            </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-md-2">
                                             <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                             <div class="col-md-2">
                                             <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                             <div class="col-md-2">
                                             <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                    </div><br>
                                    
                                    <div class="row">
                                            <div class="col-md-6">
                                                <h6>Comments</h6>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"> 
                                <textarea rows="1" cols="25">
                                </textarea>
                                        </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                      <div class="col-md-5">
                        <div class="card" style="background: royalblue;">
                            <div class="card-block">
                                <h4 class="card-title text-white">Trip Card</h4><br><br>
                                <div class="col-md-12">
                                    <h6 class="card-subtitle text-white" style="font-size: 12px;">StopOver</h6>
                                    <h5 class="text-left text-white" style="color:red;">New York, USA</h5>
                                </div><br>
                                <div class="col-md-12">
                                        <h6 class="card-subtitle text-white" style="font-size: 12px;">Start Date</h6>
                                        <h5 class="text-left text-white">4/12/2019</h5>
                                </div><br>
                                <div class="col-md-12">
                                        <h6 class="card-subtitle text-white" style="font-size: 12px;">End Date</h6>
                                        <h5 class="text-left text-white">7/12/2019</h5><br>
                                      </div>
                                      <div class="col-md-12">
                                          <h6 class="card-subtitle text-white" style="font-family: 'Libre Barcode 39';font-size: 22px;color:#fff;text-align: left;">123456790</h6> 
                                      </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>



                  <div class="col-md-4">
                      <div class="card">
                      <div class="row">
                          <div class="col-md-7">
                              <div class="">
                                <div class="card-block">
                                    <img src="../../static/common/img/logo.jpg" width="200"><br><br>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <span style="font-size: 12px;">Destination</span>
                                                <span style="color:red;font-size: 13px;">New York, USA</span>
                                            </div>
                                            <div class="col-md-4">
                                                <span style="font-size: 12px;">Start</span>
                                                    <span style="font-size: 12px;">30/11/2019</span>
                                            </div>
                                            <div class="col-md-3">
                                                <span style="font-size: 12px;">End</span>
                                                    <span style="font-size: 12px;">3/12/2019</span>
                                            </div>
                                          </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6>Your Images</h6>
                                                </div>
                                        </div>
                                        <div class="row">
                                                <div class="col-md-2">
                                                 <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                                 <div class="col-md-2">
                                                 <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                                 <div class="col-md-2">
                                                 <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                        </div><br>
                                        
                                        <div class="row">
                                                <div class="col-md-6">
                                                    <h6>Comments</h6>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"> 
                                    <textarea rows="1" cols="25">
                                    </textarea>
                                            </div>
                                        </div>
                                </div>
                              </div>
                            </div>
                        <div class="col-md-5">
                          <div class="card" style="background: royalblue;">
                              <div class="card-block">
                                  <h4 class="card-title text-white">Trip Card</h4><br></br>
                                  <div class="col-md-12">
                                      <h6 class="card-subtitle text-white" style="font-size: 12px;">StopOver</h6>
                                      <h5 class="text-left text-white" style="color:red;">London, UK</h5>
                                  </div><br>
                                  <div class="col-md-12">
                                          <h6 class="card-subtitle text-white" style="font-size: 12px;">Start Date</h6>
                                          <h5 class="text-left text-white">30/11/2019</h5>
                                  </div><br>
                                  <div class="col-md-12">
                                          <h6 class="card-subtitle text-white" style="font-size: 12px;">End Date</h6>
                                          <h5 class="text-left text-white">3/12/2019</h5><br>
                                  </div>
                                  <div class="col-md-12">
                                      <h6 class="card-subtitle text-white" style="font-family: 'Libre Barcode 39';font-size: 22px;color:#fff;text-align: left;">123456790</h6> 
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>





                    <div class="col-md-4">
                        <div class="card">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="">
                                  <div class="card-block">
                                      <img src="../../static/common/img/logo.jpg" width="200"><br><br>
                                      <div class="col-md-12">
                                          <div class="row">
                                              <div class="col-md-5">
                                                  <span style="font-size: 12px;">Destination</span>
                                                  <span style="color:red;font-size: 13px;">London, UK</span>
                                              </div>
                                              <div class="col-md-4">
                                                  <span style="font-size: 12px;">Start</span>
                                                      <span style="font-size: 12px;">27/11/2019</span>
                                              </div>
                                              <div class="col-md-3">
                                                  <span style="font-size: 12px;">End</span>
                                                      <span style="font-size: 12px;">29/11/2019</span>
                                              </div>
                                            </div>
                                              </div><br>
                                              <div class="row">
                                                  <div class="col-md-6">
                                                      <h6>Your Images</h6>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="col-md-2">
                                                   <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                                   <div class="col-md-2">
                                                   <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                                   <div class="col-md-2">
                                                   <img src="../../static/common/img/bg3.jpg" width="50"></div>
                                          </div><br>
                                          
                                          <div class="row">
                                                  <div class="col-md-6">
                                                      <h6>Comments</h6>
                                                  </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12"> 
                                      <textarea rows="1" cols="25">
                                      </textarea>
                                              </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                          <div class="col-md-5">
                            <div class="card" style="background: royalblue;">
                              <div class="card-block">
                                <h4 class="card-title text-white">Trip Card</h4><br>
                                <div class="col-md-12">
                                    <h6 class="card-subtitle text-white" style="font-size: 12px;">StopOver</h6>
                                    <h5 class="text-left text-white" style="color:red;">Tokyo, Japan</h5>
                                </div><br>
                                <div class="col-md-12">
                                        <h6 class="card-subtitle text-white" style="font-size: 12px;">Start Date</h6>
                                        <h5 class="text-left text-white">27/11/2019</h5>
                                </div><br>
                                <div class="col-md-12">
                                        <h6 class="card-subtitle text-white" style="font-size: 12px;">End Date</h6>
                                        <h5 class="text-left text-white">29/11/2019</h5><br>
                                      </div>
                                      <div class="col-md-12">
                                          <h6 class="card-subtitle text-white" style="font-family: 'Libre Barcode 39';font-size: 22px;color:#fff;text-align: left;">123456790</h6> 
                                      </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>

                      <div class="container">
                          <br>
                          <div class="row">
                                  <div class="col-md-5"></div>
                                  <div class="col-md-6">
                     <a href="/review"><button class="btn btn-primary" type="button"> Review</button></a>
                  </div>
                  </div>
              </div>


            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
      </body>
