{% load static staticfiles compress i18n %}

<div class="row" style="margin-top: 10px">
    <form id="edit-change-password-form"
          action="{% url 'my_home_profile_password_change' %}"
          method="POST">
        <div class="col-lg-12">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    {% with form_password as form %}
                    {% with group_no=0 %}
                        {% include 'includes/form_generic/fields_by_groupno.html' %}
                    {% endwith %}
                    {% endwith %}
                </div>
                <div class="col-lg-6" style="text-align: center">
                    <br/><br/>
                    <img src="{% static 'img/bg-cadres/key-800.jpg' %}"
                         alt="{% trans 'Password' %}" style="max-width: 50%; height: auto">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-validate btn-block">
                {% trans "Confirm" %}
            </button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-dark btn-block" type="button"
                    data-hqf-switch="$.ct('.row').pt().ct('.row')/u/$.ct('.row').pt().ct('.row').pv().pv().pv()/Od">
                <i class="fa fa-times"></i>
                {% trans "Close" %}
            </button>
        </div>
    </form>
</div>
