{% extends 'my_home/base.html' %}
{% load static staticfiles compress i18n django_markdown %}

{% block main-title %}
    {% block title %}{% if user.is_authenticated %}
        {{ common.hello }}{% else %}{% trans "My home" %}
    {% endif %}{% endblock %}
{% endblock %}

{% block central %}
    <div class="row">
        {% if message %}
        <div class="col-lg-12">
            {% include "includes/panel_message.html" %}
        </div>
        {% endif %}
        <div class="col-lg-3">&nbsp;</div>

        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>{% trans "Account desactivated" %}</strong>
                </div>
                <div class="panel-body">
                    <p>{% blocktrans trimmed %}
                        Your account has been desactivated
                    {% endblocktrans %}
                    </p>
                    <p>{% blocktrans trimmed %}
                        If by chance you wish to re-activate it, you have
                        received a mail with a link for reactivation.
                    {% endblocktrans %}
                    </p>
                    <p>{% url 'my_home_remarks_and_testimonies' as url_support %}
                        {% blocktrans trimmed %}
                            You still can join the support team by
                            <a href="{{ url_support }}">clicking here.</a>
                        {% endblocktrans %}
                    </p>
                </div>{% comment %}
                <div class="panel-footer">
                    Footer
                </div>{% endcomment %}
            </div>
        </div>

        <div class="col-lg-3">&nbsp;</div>

    </div>
{% endblock %}
